{
  "presets": [
    ["env", {
      "es2015": {
        "modules": false
      }
    }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy", "react-hot-loader/babel",
  ]
}
