.controls {
  button.toggle-settings {
    border: none;
    background: none;
    font-size: 15px;
    line-height: 1em;
    cursor: pointer;
  }
  .color-chooser > button, label {
    font-size: 15px;
  }
  label input {
    margin-right: 5px;
  }
  > * {
    margin: 0 5px;
  }

  .settings {
    margin-top: 20px;
    
    select {
      margin-left: 5px;
    }
  }
}
