.output {
  display: flex;
  flex-direction: column;
}

.terminal {
  display: flex;
  flex-direction: column;
  margin: 50px auto 50px auto;
  border-radius: 6px;
  box-shadow: #b7b7b7 0 0 60px;
  border: 1px solid #cccccc;

  .terminal-header {
    background: #DBD9DB;
    background: linear-gradient(to bottom, #E7E5E7, #D2D0D2);
    text-align: center;
    position: relative;
    color: #373537;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px 5px 0 0;

    .btns {
      position: absolute;
      top: 7px;
      display: flex;

      & > div {
        width: 14px;
        height: 14px;
        background: red;
        border-radius: 50%;
        margin-left: 8px;

        &:nth-child(1) { background: #FC625D; }
        &:nth-child(2) { background: #FDBC40; }
        &:nth-child(3) { background: #35CA4A; }
      }
    }
  }

  .terminal-body {
    display: flex;
    height: 180px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: monospace;
    padding: 10px;
    background: white;

    .text {
      transition: all .15s ease-in;
      padding: 0 10px;
      outline: none;

      &.format-bold { font-weight: bold; }
      &.format-underlined { text-decoration: underline; }
      &.format-hidden { visibility: hidden; }
    }
    .arrow {
      color: #b7b7b7;
    }
  }
}

.terminal.dark {
  .terminal-header {
    background: linear-gradient(to bottom, #58564E, #403F3A);
    color: white;
    font-weight: 500;

    .btns {
      & > div:nth-child(1) { background: #E35F39; }
      & > div:nth-child(2) { background: #75746D; }
      & > div:nth-child(3) { background: #75746D; }
    }
  }

  .terminal-body {
    background: #2F0B24;

    .text {
      color: white;
    }
  }
}
